name: Django CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      DJANGO_SECRET_KEY:"f9(_1lv=g(eviu(3i(^g=dsg%12ubf69+7v=la%4sx7kf4mxz%"
      DEBUG:"True"
      DB_NAME:"logicomer"
      DB_USER:"postgres"
      DB_PASSWORD:"viana"
      DB_HOST:"localhost"
      DB_PORT:"5432"
      WORKSPACE_ID:"1cb200a4-8740-43d9-abe8-9a096895e257"
      PUBLISHABLE_KEY:"pk_dngm5z0tbuygtfy2f6tbggwq"
      SECRET_KEY:"sk_0q9c657mj15vw2z5a0nk91l9"
    
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.13]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run Tests
      run: |
        python manage.py test
